<link rel="stylesheet" href="../styles/main.css">
<link id="lmdm" rel="stylesheet" href="styles/themes/lightmode.css">

<header id="header">
    <a href="/" id="logo">Jukebar</a>
    <a class="tab" href="/soundboard">Soundboard</a>
    <a class="tab" href="/youtube">Youtube</a>
    <a class="tab" href="/spotify">Spotify</a>
    <button id="logout" class="tab" onclick="logout()">Logout</button>
    <p id="version">Alpha v 0.1</p>
    <button onclick="toggleTheme()" id="lmdmBtn">
        <img id="lmdmIcon" src="images/sun.svg">
    </button>
</header>

<script>
    //imported from formbar.js, edited to work with jukebar

    const lmdmIcon = document.getElementById('lmdmIcon'); // Define the lmdmIcon variable

    // Check the theme cookie and update the stylesheet and icon accordingly
    var theme = getCookie("theme");
    if (theme === "light" || theme === null) {
        document.getElementById('lmdm').href = 'styles/themes/lightmode.css';
        lmdmIcon.src = "images/moon.svg";
    } else if (theme === "dark") {
        document.getElementById('lmdm').href = 'styles/themes/darkmode.css';
        lmdmIcon.src = "images/sun.svg";
    }

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) {
            return parts.pop().split(';').shift();
        }
        return null; // Return null if the cookie is not found
    }

    var nextYear = new Date().getFullYear() + 1;

    function toggleTheme() {
        var theme = getCookie("theme");
        if (theme == "light" || theme == null) {
            document.cookie = "theme=dark;expires=Fri, 1 Jul " + nextYear + " 23:59:59 GMT";
            document.getElementById('lmdm').href = 'styles/themes/darkmode.css';
            lmdmIcon.src = "images/sun.svg"
        } else if (getCookie("theme") === "dark") {
            document.cookie = "theme=light;expires=Fri, 1 Jul " + nextYear + " 23:59:59 GMT";
            document.getElementById('lmdm').href = 'styles/themes/lightmode.css';
            lmdmIcon.src = "images/moon.svg"
        }
        console.log("Current theme:", theme);
        console.log("Cookie set to:", document.cookie);
    }

    function logout() {
        document.cookie = "session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        document.cookie = "theme=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        window.location.href = 'http://formbeta.yorktechapps.com/oauth?redirectURL=http://localhost:3000/login';
    }

</script>