<link rel="stylesheet" href="../styles/main.css">

<header id="header">
    <a href="/" id="logo">Jukebar</a>
    <a class="tab" href="/soundboard">Soundboard</a>
    <a class="tab" href="/youtube">Youtube</a>
    <a class="tab" href="/spotify">Spotify</a>
    <a class="tab" onclick="logout()">Logout</a>
    <p id="version">Alpha v 0.1</p>
</header>
<script>
    function logout() {
        window.location.href = '/logout';
    }
</script>