<link rel="stylesheet" href="../styles/main.css">

<header id="header">
    <a href="/" id="logo">Jukebar</a>
    <button class="tab" href="/soundboard.ejs">Soundboard</button>
    <button class="tab" href="/youtube.ejs">Youtube</button>
    <button class="tab" href="/spotify.ejs">Spotify</button>
    <p id="version">Alpha v 1.0.0</p>
    </div>
</header>