<link rel="stylesheet" href="../styles/main.css">

<header id="header">
    <a href="/" id="logo">Jukebar</a>
    <button class="tab" href="/soundboard">Soundboard</button>
    <button class="tab" href="/youtube">Youtube</button>
    <button class="tab" href="/spotify">Spotify</button>
    <button class="tab" onclick="logout()">Logout</button>
    <p id="version">Alpha v 1.0.0</p>
</header>
<script>
    function logout() {
        window.location.href = '/logout';
    }
</script>