<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jukebar</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>

<body id="colorContent">
    <%- include("partials/header.ejs") %>

        <div id="content" class="contentBox">
            <div id="tut">
                <div id="pageTitle">
                    <h1>Welcome, <%= username %>!</h1>
                </div>
                <h2>How to use Jukebar</h2>
                <p class="desc">Jukebar is a Formbar plugin that allows users to play sounds. There are three ways
                    you
                    can use it:</p>
                <div id="methodList">
                    <a class="tab" href="/soundboard">
                        <h3>Soundboard</h3>
                        <p>Allows you to select sounds from a pre-approved list.</p>
                    </a>
                    <a class="tab" href="/youtube">
                        <img class="icon" src="/images/youtube-logos/yt_icon_white.png" alt="Youtube Logo" />
                        <h3>YouTube</h3>
                        <p>Allows you to play audio from a provided YouTube link.</p>
                    </a>
                    <a class="tab" href="/spotifyLogin">
                        <img class="icon" src="/images/spotify-logos/sp_primary_logo_green.png" alt="Spotify Logo" />
                        <h3>Spotify</h3>
                        <p>Allows you to search for and play songs off of Spotify.</p>
                    </a>
                </div>
                <p class="desc">Note that all sounds must be approved by a teacher before being added to the queue,
                    and
                </p>
                <p id="warning" class="desc">explicit content is prohibited.</p>
            </div>
</body>

<script type="text/javascript">
    const buttons = document.getElementsByTagName("button")

    for (let button of buttons) {
        button.onclick = function () {
            window.location.href = button.getAttribute("href");
        };
    };
</script>

</html>