<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jukebar</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <% if (username) { %>
        <div id="header">
            <h1>Welcome, <%= username %>!</h1>
            <div id="pageButtons">
                <ul>
                    <a href="">
                        <button>Soundboard</button>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <button>Youtube</button>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <button>Spotify</button>
                    </a>
                </ul>
            </div>
        </div>

        <div id="tut">
            <h2>How to use Jukebar</h2>
            <p class="desc">Jukebar is a Formbar plugin that allows users to play sounds. There are three ways you can use
                it:</p>
            <div id="methodList">
                <ul>
                    <h3><a href="">Soundboard</a></h3>
                    <p>Allows you to select sounds from a pre-approved list.</p>
                </ul>
                <ul>
                    <h3><a href="">YouTube</a></h3>
                    <p>Allows you to play audio from a provided YouTube link.</p>
                </ul>
                <ul>
                    <h3><a href="">Spotify</a></h3>
                    <p>Allows you to search for and play songs off of Spotify.</p>
                </ul>
            </div>
            <p class="desc">Note that all sounds must be approved by a teacher before being added to the queue, and </p>
            <p id="warning">explicit content is prohibited.</p>
        </div>
        <div id="queue">
            <h2>Queue</h2>
            <div id="queueList">
                <ol>
                    <li>Sound</li>
                    <li>Sound</li>
                    <li>Sound</li>
                    <li>Sound</li>
                    <li>Sound</li>
                </ol>
        </div>

        <% } else { %>
            <h1>Please log in:</h1>
            <a href="/login">Login</a>
            <% } %>
</body>

</html>