<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soundboard</title>
</head>

<body>
    <h1>Soundboard</h1>
    <div id="soundboard">
        <button class="sound" id="rickroll">Rick roll</button>
        <button class="sound" id="missionfailed">Mission failed</button>
        <button class="sound" id="19dfnc">19 dollar Fortnite card</button>
        <button class="sound" id="afewmomentslater">A few moments later</button>
        <button class="sound" id="curbyourenthusiasm">Curb your enthusiasm</button>
        <button class="sound" id="dukenukem">Duke nukem</button>
        <button class="sound" id="epicsaxguy">Epic sax guy</button>
        <button class="sound" id="FinalFantasyVictoryDGKS">Final Fantasy Victory</button>
        <button class="sound" id="gangstasparadise">Gangsta paradise</button>
        <button class="sound" id="nogodpleaseno">No god please no</button>
        <button class="sound" id="alarmclock">Alarm clock</button>
        <button class="sound" id="amongusstart">Among us</button>
        <button class="sound" id="tacobell">Taco Bell</button>
        <button class="sound" id="applause">applause</button>
        <button class="sound" id="bruh">Bruh</button>
        <button class="sound" id="bennyhill">Benny hill</button>
        <button class="sound" id="crickets">Crickets</button>
        <button class="sound" id="bombdefused">Bomb defused</button>
        <button class="sound" id="britishmusic">British music</button>
        <button class="sound" id="butterdog">Butterdog</button>
        <button class="sound" id="clicknice">Click nice</button>
        <button class="sound" id="dialup">Dial up</button>
        <button class="sound" id="dogofwisdom">Dog of wisdom</button>
        <button class="sound" id="dundundun">DUNDUNDUN</button>
        <button class="sound" id="elevatormusic">Elevator music</button>
        <button class="sound" id="fbi">FBI open up</button>
        <button class="sound" id="enemyspotted">Enemy spotted</button>
    </div>
    <script>
        function playSound(src) {
            const audio = new Audio(src);
            audio.play();
        }

        window.onload = () => {
            const sounds = document.querySelectorAll('.sound');
            sounds.forEach(sound => {
                sound.addEventListener('click', () => {
                    playSound(`/sfx/${sound.id}.mp3`);
                });
            });
        }
    </script>



   

</body>

</html>