<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soundboard</title>
</head>

<body>
    <h1>Soundboard</h1>
    <div id="soundboard">
        <button class="sound" id="rickroll">Rick roll</button>
        <button class="sound" id="missionfailed">Mission failed</button>
        <button class="sound" id="19dfnc">19 dollar Fortnite card</button>
        <button class="sound" id="afewmomentslater">A few moments later</button>
        <button class="sound" id="curbyourenthusiasm">Curb your enthusiasm</button>
        <button class="sound" id="dukenukem">Duke nukem</button>
        <button class="sound" id="epicsaxguy">Epic sax guy</button>
        <button class="sound" id="FinalFantasyVictoryDGKS">Final Fantasy Victory</button>
        <button class="sound" id="gangstasparadise">Gangsta paradise</button>
        <button class="sound" id="nogodpleaseno">No god please no</button>
        <button class="sound" id="alarmclock">Alarm clock</button>
        <button class="sound" id="amongusstart">Among us</button>
        <button class="sound" id="tacobell">Taco Bell</button>
        <button class="sound" id="applause">applause</button>
        <button class="sound" id="bruh">Bruh</button>
        <button class="sound" id="bennyhill">Benny hill</button>
        <button class="sound" id="crickets">Crickets</button>
        <button class="sound" id="bombdefused">Bomb defused</button>
        <button class="sound" id="britishmusic">British music</button>
        <button class="sound" id="butterdog">Butterdog</button>
        <button class="sound" id="clicknice">Click nice</button>
        <button class="sound" id="dialup">Dial up</button>
        <button class="sound" id="dogofwisdom">Dog of wisdom</button>
        <button class="sound" id="dundundun">DUNDUNDUN</button>
        <button class="sound" id="elevatormusic">Elevator music</button>
        <button class="sound" id="fbi">FBI open up</button>
        <button class="sound" id="enemyspotted">Enemy spotted</button>
        <button class="sound" id="vienboom">Vien boom</button>
        <button class="sound" id="yougotmail">You got mail</button>
        <button class="sound" id="highnoon">High noon</button>
        <button class="sound" id="howdareyou">How dare you</button>
        <button class="sound" id="inception">Inception</button>
        <button class="sound" id="intelinside">Intel inside</button>
        <button class="sound" id="iphonealarm">Iphone alarm</button>
        <button class="sound" id="ivefallen">I've Fallen</button>
        <button class="sound" id="johncena">John Cena</button>
        <button class="sound" id="kahootslobby1">Kahoot lobby</button>
        <button class="sound" id="legofallapart">Lego fall apart</button>
        <button class="sound" id="legoyodadeath">Lego Yoda</button>
        <button class="sound" id="mgsalert">MGS alert</button>
        <button class="sound" id="mlgairhorn">MLG airhorn</button>
        <button class="sound" id="ohyesdaddy">Oh yes daddy</button>
        <button class="sound" id="feellikeanut">Feel like a nut</button>
        <button class="sound" id="nani">Nani</button>
        <button class="sound" id="peanutbutterjelly">Peanut butter jelly</button>
        <button class="sound" id="pinkpanther">Pink Panther</button>
        <button class="sound" id="pizzapizza">Pizza pizza</button>
        <button class="sound" id="roundabout">Round about</button>
        <button class="sound" id="spicymeatball">Spicy meatball</button>
        <button class="sound" id="steammessage">Steam message</button>
        <button class="sound" id="thatsalotofdamage">That's a lot of damage</button>
        <button class="sound" id="thatwaseasy">That was easy</button>
        <button class="sound" id="thisismyhouse">This is my house</button>
        <button class="sound" id="wassup">Wassup</button>
        <button class="sound" id="wat">WHAT</button>
        <button class="sound" id="watchasay">Wathca say</button>
        <button class="sound" id="willheimscrem">Scream</button>
        <button class="sound" id="win95start">Windows 95</button>
        <button class="sound" id="winxpshutdown">Windows XP shutdown</button>
        <button class="sound" id="winxpstart">Windows XP start</button>
        <button class="sound" id="wompwomp">Womp womp</button>
        <button class="sound" id="xperror">XP error</button>
        <button class="sound" id="yaykidst">YAY</button>
        <button class="sound" id="zawarudo">ZAWARUDO!</button>
        <button class="sound" id="falconpunch">Falcon Punch</button>
        <button class="sound" id="every60seconds">Every 60 seconds</button>
        <button class="sound" id="getout">GET OUT</button>
        <button class="sound" id="halotheme">Halo theme</button>
        <button class="sound" id="loudindianmusic">Loud music</button>
        <button class="sound" id="mariodeath">Mario dies</button>
        <button class="sound" id="lowtaperfade">LOOOOW taper fade</button>
        <button class="sound" id="lockedinninja">Locked in ninja</button>
    </div>
    <script>
        let playSounds = true;
        let userPermissions = 5;
        // fetch('/getUserPermissions')
        //     .then(response => response.json())
        //     .then(data => {
        //         userPermissions = data.permissions;
        //     })
        //     .catch(error => {
        //         console.error('Error fetching user permissions:', error);
        //         userPermissions = 0;
        //     });

                function playSound(src) {
                    const audio = new Audio(src);
                    audio.play();
                }

                window.onload = () => {
                    // checks if the user has permission to play sounds
                    document.getElementById('soundboard').addEventListener('click', (event) => {
                        if (event.target && event.target.classList.contains('sound')) {
                            if (userPermissions >= 2 && playSounds) {
                                playSound(`/sfx/${event.target.id}.mp3`);
                            } else {
                                alert('You do not have permission to play sounds');
                            }
                        }
                    });
                }
            </script>

</body>

</html>