<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Player</title>
</head>

<body>
    <% if (username) { %>
        <%- include("partials/header.ejs") %>

    <% } else { %>
        <% res.redirect('https://formbar.yorktechapps.com/oauth?redirectURL=http://localhost:3000/login'); %>
    <% } %>

<script>
    let playSounds = true;
    let userPermissions = 5;
    // fetch('/getUserPermissions')
    //     .then(response => response.json())
    //     .then(data => {
    //         userPermissions = data.permissions;
    //     })
    //     .catch(error => {
    //         console.error('Error fetching user permissions:', error);
    //         userPermissions = 0;
    //     });

    function playSound(src) {
        const audio = new Audio(src);
        audio.play();
    }

    window.onload = () => {
        // checks if the user has permission to play sounds
        document.getElementById('soundboard').addEventListener('click', (event) => {
            if (event.target && event.target.classList.contains('sound')) {
                if (userPermissions >= 2 && playSounds) {
                    playSound(`/sfx/${event.target.id}.mp3`);
                } else {
                    alert('You do not have permission to play sounds');
                }
            }
        });
    }

</script>

</body>

</html>