body {
	background-color: #323232;
	color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-white);
}

p {
	color: var(--color-white);
}

input {
	background-color: #323232;
	color: #ffffff;
}

#colorContent {
	background-color: #323232;
	color: #ffffff;
}

#content .tab {
	background-color: #323232;
}

select {
	color: #ffffff;
}