body {
	background-color: #323232;
	color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-white);
}

h1.headertext,
h2.headertext {
	color: var(--light-cyan);
}

p {
	color: var(--color-white);
}

input {
	background-color: #323232;
	color: #ffffff;
}

#colorContent {
	background-color: #323232;
	color: #ffffff;
}


#content {
	background-color: var(#ffffff);
	color: #000000;
}

#content .tab {
	background-color: #323232;
}

#usernameBox,
#passwordBox,
#displayNameBox,
#joinKey {
	background-color: #ffffff;
	color: #000000;
}

#resTextBox {
	background-color: #ffffff;
	color: #000000;
}

select {
	color: #ffffff;
}