body {
	background-color: var(--bg-dark);
	color: var(--color-white);
}

p {
	color: var(--color-black);
}

input{
	background-color: var(--bg-dark);
	color: var(--color-white);
}

select {
	color: var(--color-white);
}

#colorContent {
	background-color: var(--bg-darker);
	color: var(--color-black);
}

#content {
	background-color: var(--color-white);
	color: var(--color-black);
}

#video {
	background-color: var(--bg-dark);
	color: var(--color-white);
}

.column {
	background-color: var(--bg-dark);
	color: var(--color-white);
}

.column h3 {
	color: var(--bg-light-green);
}