body {
	background-color: var(--color-white);
	color: var(--color-black);
}

p {
	color: var(--color-black);
}

input {
	background-color: var(--light-gray);
	color: var(--color-black);
}

select {
	color: var(--color-black);
}

#colorContent {
	background-color: var(--bg-light);
	color: var(--color-black);
}

#content {
	background-color: var(--color-white);
	color: var(--color-black);
}

#video {
	background-color: var(--light-gray);
	color: var(--color-black);
}

.column {
	background-color: var(--light-gray);
	color: var(--color-black);
}