/* Tags */

#methodList .column img {
    display: flex;
    margin: 8px;
}

/* IDs */

#tut {
    justify-content: center;
}

#methodList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#warning {
    display: inline-flex;
    font-weight: bold;
    color: var(--color-red);
}

#queue {
    margin-top: 20px;
    margin-left: 80px;
}

#queueList {
    justify-content: center;
    cursor: pointer;
}

/* Classes */

.desc {
    display: inline-flex;
}

.column {
	margin: 8px;
    padding: 12px 16px;
    width: 300px;
}