/* IDs */

#header {
    position: fixed;
    width: 110%;
    z-index: 1;
    top: 0;
    left: -5%;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 10px black;
    user-select: none;
    animation: gradient 5s ease infinite;
    transition: filter 0.5s;
    background: linear-gradient(to right, var(--color-blue), var(--color-purple));
    background: linear-gradient(-30deg, var(--color-blue), var(--color-purple));
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#headerLogo {
    padding: 8px 16px 10px;
    font-size: 24px;
    font-family: 'Arial Black';
    color: white;
    text-decoration: underline dotted;
    cursor: pointer;
}

#pageButtons {
    display: flex;
}

#version {
    color: var(--light-gray);
    padding-left: 10px;
}

#tut {
    margin-top: 80px;
}

#methodList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#warning {
    display: flex;
    font-style: bold;
    color: #ff0000;
}

#queue #queueList
/* classes */

a.header {
    padding: 12px 16px;
    font-size: 21px;
    color: white;
    cursor: pointer;
}

.headerTab {
    padding: 12px 16px;
    font-size: 21px;
    cursor: pointer;
}

.headerTab:hover,
.headerTab:focus {
    background-color: #00000055;
    color: white;
}

.headerText {
    color: var(--theme-color);
}

.desc {
    display: flex;
}