/* Tags */

:root {
    /*All pages can use this set of colors*/

    --color-red: #bf0000;
    --color-brown: #643500;
    --color-orange: #ff4000;
    --color-gold: #fa0;
    --color-yellow: #ffbf00;
    --color-green: #00bf00;
    --color-cyan: #009fbf;
    --color-blue: #0040bf;
    --color-purple: #bf00ff;
    --color-pink: #ff4080;
    --color-gray: #555;
    --color-silver: #b3b2ac;
    --color-white: #fff;

    --light-red: #ff6860;
    --light-brown: #bf6040;
    --light-orange: #ff8f40;
    --light-yellow: #ffdf40;
    --light-green: #80ff80;
    --light-cyan: #80ffff;
    --light-blue: #bfcfff;
    --light-purple: #df80ff;
    --light-pink: #ff80bfff;
    --light-gray: #ccc;

    --bg-dark: #333;
    --bg-darker: #222;
    --bg-dark-highlight: #444;
    --bg-dark-red: #400;
    --bg-dark-yellow: #430;
    --bg-dark-green: #243;
    --bg-dark-blue: #000922;
    --bg-dark-purple: #423;

    --bg-light: #d0c8e0;
    --bg-light-blue: #def;
    --bg-light-green: #c8e0c8;
    --bg-light-yellow: #dbd29b;
}

body {
    font: 16px "Segoe UI", sans-serif;
    padding: 8px;
    --theme-color: var(--color-green);
    transition: background-color 0.5s, color 0.5s;
}

h1 {
    text-align: center;
    margin: 10px auto;
    color: var(--theme-color);
}

h2 {
    margin-top: 32px;
    color: var(--theme-color);
}

h3 {
    font-weight: normal;
    color: var(--bg-dark-green);
}

a {
    text-decoration: none;
    color: var(--color-purple);
}

a.tab {
    padding: 12px 16px;
    font-size: 21px;
    cursor: pointer;
    color: var(--color-white);
}

p {
    margin: 8px 0;
}

input {
    font-size: inherit;
    font-family: inherit;
}

select {
    font-size: inherit;
    font-family: inherit;
}

button {
    padding: 3px 6px;
    border-radius: 8px;
    font-size: inherit;
    font-family: inherit;
    border: 2px solid var(--theme-color);
    background-color: var(--bg-light-green);
    color: var(--theme-color);
    margin: 2px 1px;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: transform, box-shadow;
}

* {
    accent-color: var(--theme-color);
}

/* IDs */

#version {
    color: var(--light-gray);
    padding-left: 10px;
}

#content {
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    padding: 100px 10px 10px;
    overflow: auto;
    position: relative;
}

#pageTitle {
    display: block;
    color: var(--theme-color);
    text-align: center;
}

#lmdmBtn {
    position: fixed;
    right: 20px;
    margin-top: 0.75vh;
    border-radius: 100%;
    width: 45px;
    height: 45px;
}

#lmdmIcon {
    position: absolute;
    left: 20%;
    top: 22%;
    width: 25px;
    height: 25px;
}

#header {
    position: fixed;
    width: 110%;
    z-index: 1;
    top: 0;
    left: -5%;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 10px var(--bg-dark-highlight);
    user-select: none;
    animation: gradient 5s ease infinite;
    transition: filter 0.5s;
    background: linear-gradient(to right, var(--color-green), var(--color-purple));
    background: linear-gradient(-30deg, var(--color-green), var(--color-purple));
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#header #logo {
    padding: 8px 16px 10px;
    font-size: 24px;
    font-family: 'Arial Black';
    color: var(--color-white);
    text-decoration: underline dotted;
    cursor: pointer;
}

/* Classes */

#header .tab {
    padding: 12px 16px;
    font-size: 21px;
    cursor: pointer;
}

#header .tab:hover,
#header .tab:focus {
    background-color: #00000055;
    color: var(--color-white);
}

.contentBox {
    border: solid 2px var(--color-black);
    border-radius: 10px;
    padding: 20px !important;
    font-size: 20px;
}

.column {
    font-size: inherit;
    font-family: inherit;
	border: 5px inset var(--color-silver);
	border-radius: 8px;
}

.icon {
    position: relative;
    float: right;
}

.fullLogo {
    position: relative;
    float: right;
}

/*Pop-out effect*/
:is(button):where(:hover, :focus-visible):not(.sound, .arrow) {
    transform: translate(3px, -3px);
    box-shadow: -1.5px 1.5px color-mix(in hsl, var(--theme-color) 70%, hsl(0, 0%, 0%) 30%), -3px 3px color-mix(in hsl, var(--theme-color) 70%, hsl(0, 0%, 0%) 30%);
}

:is(button):active:not(.sound, .arrow) {
    background: var(--theme-color);
    color: white;
    transform: none !important;
    box-shadow: none !important;
}

/*Shows that the button is currently active*/
button.pressed {
    background-color: var(--theme-color);
    color: white;
}