/* Tags */

* {
    box-sizing: border-box;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* IDs */

#border {
    width: 600px;
    height: auto;
    margin: 0 auto;
    animation: gradient 10s infinite;
    background: linear-gradient(45deg, var(--color-cyan), var(--color-yellow), var(--color-pink), var(--color-cyan), var(--color-yellow), var(--color-pink), var(--color-cyan), var(--color-yellow), var(--color-pink));
    background-size: 300% 300%;
    border-radius: 300px 300px 0 0;
}

#wood {
    width: 500px;
    height: auto;
    margin: 45px auto;
    border-radius: 250px 250px 0 0;
    background-color: #643500;
    display: flexbox;
}

#halfScreen {
    height: 200px;
    width: 400px;
    margin: 50px auto 10px;
    border-radius: 250px 250px 0 0;
    background-color: var(--bg-darker);
}

#search {
    margin-top: 120px;
    margin-left: 55px;
}

#searchButton {
    height: 35px;
    width: 35px;
}

#searchButton img {
    width: 20px;
    height: 20px;
}

#buttonFrame {
    display: flexbox;
    width: 450px;
    height: 200px;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--color-silver);
}

#bottomLine {
    display: inline-flex;
}

#border2 {
    width: 350px;
    height: 300px;
    margin: auto auto 10px auto;
    background-image: linear-gradient(45deg, var(--color-cyan), var(--color-yellow), var(--color-pink));
    border-radius: 0 0 300px 300px;
}

#speaker {
    width: 300px;
    height: 250px;
    margin: 20px auto;
    background-color: var(--bg-darker);
    border-radius: 0 0 300px 300px;
}

#pagination-controls {
    display: flex;
    float: right;
    float: bottom;
}

#nextPage {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

#prevPage {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

/* Classes */
.jukebox {
    border: 5px inset var(--color-silver);
    justify-content: center;
    align-items: center;
}

.reflective {
    opacity: 60%;
    border: solid white 2px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0005);
}

.sound {
    display: inline-flex;
    margin-right: 2px;
    width: 176px;
    color: var(--color-red);
    border: 1px solid var(--color-red);
    background-color: var(--bg-light-yellow);
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.arrow {
    background: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 3px;
    border: none;
    border-radius: 0%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid var(--color-gray);
    cursor: pointer;
}

:is(.sound):where(:hover, :focus-visible) {
    transform: translate(3px, -3px);
    box-shadow: -1.5px 1.5px color-mix(in hsl, var(--color-red) 70%, hsl(0, 0%, 0%) 30%), -3px 3px color-mix(in hsl, var(--color-red) 70%, hsl(0, 0%, 0%) 30%);
}