/* Tags */


/* IDs */

#pageTitle {
    display: block;
}

#requests {
    display: inline-block;
}

#queue {
    float: right;
    padding: 20px;
    background-color: var(--bg-light-green);
}

/* Classes */



